body {
    background-color: antiquewhite;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.recipe-image {
    width: 400px;
    height: 300px;
    display: block;
    margin: 0 auto;
    border: 5px solid rgb(0, 0, 0);
}

.recipe-headings {
    font-family: Arial, Helvetica, sans-serif;
}

.small-headings {
    font-family: Arial, Helvetica, sans-serif;
}

.description {
    margin-top: 5px;
}

.list {
    font-family: helvetica, sans-serif;
}

#end-text {
    font-weight: bold;
}